.client-opinion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    padding: 20px 20px 10px 20px;
    max-width: 500px;

    height: 100%;

    background-color: #f6fbff;

    overflow: hidden;
    transition: background-color 0.3s ease;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25),
        inset 0 1px 0 rgba(255, 255, 255, 0.04);

    display: flex;
    flex-direction: column;

    gap: 20px;

    align-items: center;
    vertical-align: middle;
}


.name {
    font-weight: bold;
    margin-top: auto;
}