.thumbnail {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    padding: 10px;
    width: 500px;

    overflow: hidden;
    transition: background-color 0.3s ease;
}

.thumbnail img {
    border-radius: 10px;
    width: 100%;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, .4);

    object-fit: contain;
    object-position: center;
}

.thumbnail .content {
    font-weight: 5000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail:hover {
    background-color: rgba(0, 0, 0, .1);
}