#root {
  text-align: center;
  padding-bottom: 50px;
  width: 100vw !important;
  overflow-x: hidden;
}


.profile-picture {
  margin-top: -2rem;
  height: 25vh;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 10%;
}

.thumbnail-carousel .splide__slide {
  max-width: 500px;
}

.about-me p {
  text-align: left;
  padding: 0 2rem;
}

.thumbnail-carousel .splide__track {
  /* j'en ai besoin pour ne pas cut le dropshadow*/
  overflow: visible;
  padding: 2rem 0;
}

.main-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.separator {
  margin: 0 20px;
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #5e788f, transparent);
}

.punchline {
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0rem;
  font-size: 1.5rem;

  text-shadow:
    0 0px 12px rgba(14, 28, 41, 0.3),
    0 0px 4px rgba(94, 120, 143, 0.3);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.category-section {
  margin-top: 50px;
  margin-bottom: 50px;

  margin: 0 2rem;
}

.category-section h3 {
  margin-bottom: 20px;
}

.category-section .thumbnails-container {
  /* display in grid with 3 columns and 20px gap */
  display: flex;
  flex-direction: column;
  gap: 20px;
}