#root {
  width: calc(100% - 4rem);
  padding: 2rem;
  text-align: center;
}

.thumbnail-carousel {
  width: 100vw !important;
  margin-left: -2rem;
  margin-right: -2rem;

}

.thumbnail-carousel .splide__slide {
  max-width: 500px;
}

.main-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.punchline {
  height: 200px;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.category-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.category-section h3 {
  margin-bottom: 20px;
}

.category-section .thumbnails-container {
  /* display in grid with 3 columns and 20px gap */
  display: flex;
  flex-direction: column;
  gap: 20px;
}