#root {
  text-align: center;
  padding-bottom: 50px;
  width: 100vw !important;
  overflow-x: hidden;
}


.profile-picture {
  margin-top: -2rem;
  height: 25vh;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 10%;
}

.thumbnail-carousel .splide__slide {
  max-width: 500px;
}

.about-me {
  background-color: red;
}

.thumbnail-carousel .splide__track {
  /* j'en ai besoin pour ne pas cut le dropshadow*/
  overflow: visible;
  padding: 2rem 0;
}

.main-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.punchline {
  height: 200px;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.category-section {
  margin-top: 50px;
  margin-bottom: 50px;

  margin: 0 2rem;
}

.category-section h3 {
  margin-bottom: 20px;
}

.category-section .thumbnails-container {
  /* display in grid with 3 columns and 20px gap */
  display: flex;
  flex-direction: column;
  gap: 20px;
}