#root {
  text-align: center;
  width: 100vw !important;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  /* 
  background-color: red; */
  width: 100vw;

  color: white;
}

header .title {
  text-align: left;
  font-size: 1.8rem;
  margin: 20px 2rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  flex: 0 0 auto;
}

.fullpage {
  height: 100vh;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .85) 50%, rgba(0, 0, 0, 0.6) 100%),
    url("img/bg.jpg");
  background-size: cover;
  background-position: center;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Figtree", sans-serif;
}



.hero-layout .punchline {
  font-size: 2.5rem;
  font-weight: 600;

  padding: 1rem;
  padding-bottom: 0;


  text-shadow:
    0 0px 24px rgba(14, 28, 41, 0.4),
    0 0px 4px rgba(94, 120, 143, 0.3);
}

.cta-button {
  background-color: white;
  padding: 0.8rem 1.5rem;
  width: fit-content;
  display: block;
  margin: 20px auto;

  border: none;
  border-radius: 10px;
  font-weight: 600;

  box-shadow:
    0 0 0px rgba(255, 255, 255, 0),
    0 0 20px rgba(255, 255, 255, 0.25);

  font-family: "Figtree", sans-serif;
}

.hero-layout .punchline .underline {
  /* background-image: url("img/underline.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto; */
  /* font-style: italic; */
  font-weight: bold;
}

.hero-layout .sub-punchline {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.hero-layout .down-arrow {
  width: 40px
}

.thumbnail-carousel .splide__slide {
  max-width: 500px;
}

.about-me {
  padding: 3rem 2rem;
  background-color: #f3F3F3;
}

.about-me h2 {
  margin-bottom: 20px;
}

.about-me .experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.about-me>div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.about-me .experience * {
  margin: 0;
}

.about-me .experience .main-number {
  font-size: 2rem;
  font-weight: 600;
}

.about-me .experience .label {
  font-size: 0.9rem;
  margin: 0;
}

.about-me .experience .description {
  font-size: 0.9rem;
  color: #5e788f;
}

.main-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.separator {
  margin: 0 20px;
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #5e788f, transparent);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.category-section {
  margin-top: 50px;
  margin-bottom: 50px;

  margin: 0 2rem;
}

.category-section h3 {
  margin-bottom: 20px;
}

.category-section .thumbnails-container {
  /* display in grid with 3 columns and 20px gap */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  background-color: black;
  color: white;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 1rem 0;
  width: 100vw;
}

footer .name {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 2rem;
}