#root {
  width: calc(100% - 4rem);
  padding: 2rem;
  text-align: center;
}

.thumbnail-carousel {
  width: 100% !important;
}

.thumbnail-carousel .splide__slide {
  max-width: 500px;
}

.main-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.punchline {
  height: 200px;
  display: flex;
  align-items: center;
}

.category-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.category-section .thumbnails-container {
  /* display in grid with 3 columns and 20px gap */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}