/* src/App.css ou src/index.css */
@font-face {
  font-family: 'Instrument Serif';
  src: url('./assets/fonts/InstrumentSerif-Regular.woff2') format('woff2'),
    url('./assets/fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Instrument Serif', serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter", serif;


  background: radial-gradient(ellipse at top, #ebedee, #ebedee);
}

h1,
h2,
h3 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;

  background-image: linear-gradient(to bottom,
      #0e1c29 30%,
      #5e788f 100%);

  background-size: 100% 1.1em;
  /* hauteur d’UNE ligne */
  background-repeat: repeat-y;
  background-position: 0 0;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.glow-text {
  position: relative;
  font-size: 4rem;
  font-weight: 800;

  /* Texte en gradient */
  background: linear-gradient(90deg,
      #d6e6f2,
      #8fb3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Glow derrière */
.glow-text::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;

  background: linear-gradient(90deg,
      #9ecfff,
      #6fa8dc);

  filter: blur(28px);
  opacity: 0.55;
  z-index: -1;

  animation: glowFloat 6s ease-in-out infinite;
}

/* Mouvement très subtil */
@keyframes glowFloat {
  0% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(-4px);
  }
}